
@{
    ViewData["Title"] = "MusicPlayer";
}

<div class="library-container">

</div>

<div class="playback-control-container">
    <div class="skip-back-button">
        <button class="glyphicon-fast-backward"></button>
    </div>
    <div class="play-pause-button">
        <button class="glyphicon-play"></button>
    </div>
    <div class="skip-forward-button">
        <button class="glyphicon-fast-forward"></button>
    </div>
    <div class="volume-slider">
        <input type="range" min="0" max="100" />
    </div>
    <div class="playback-text">
        <text>Hello World</text>
    </div>
    <div class="shuffle-button">
        <button>?</button>
    </div>
</div>



